[*.cs]

# CA2007: Consider calling ConfigureAwait on the awaited task
dotnet_diagnostic.CA2007.severity = none

# CA2208: Instantiate argument exceptions correctly
dotnet_diagnostic.CA2208.severity = silent

# CA1822: Mark members as static
dotnet_diagnostic.CA1822.severity = silent

# IDE0055: Fix formatting
dotnet_diagnostic.IDE0055.severity = silent

# CA1303: Do not pass literals as localized parameters
dotnet_diagnostic.CA1303.severity = silent

# IDE0057: Use range operator
csharp_style_prefer_range_operator = silent

# IDE0057: Use range operator
csharp_style_prefer_range_operator = true:silent
